{% extends 'base.html.twig' %}

{% block title %}Un évènement{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center mb-5">
        <h1>{{ event.name }}</h1>
        <a href="{{ path('app_events') }}" class="btn btn-secondary">Retour</a>
    </div>

    <ul class="list-group">
        <li class="list-group-item">
            <h4>{{ event.name }}</h4>
            <p>{{ event.description }}</p>
            <small class="text-secondary d-flex justify-content-between align-items-center">
                <span>Du {{ event.startDate|date('d.m.Y') }} au {{ event.endDate|date('d.m.Y') }}</span>
                <span>
                    <a href="{{ path('app_event_edit', { id: event.id }) }}" class="text-primary">Editer</a> -
                    <a href="{{ path('app_event_delete', { id: event.id }) }}" class="text-danger">Supprimer</a>
                </span>
            </small>
        </li>
    </ul>
{% endblock %}
